*{
  box-sizing: border-box;
}
body{
  /* color: #636161; */
  font-family: 'PT Sans', sans-serif;
  font-size: 1.3rem;
  width:100%;
  margin:0;
}
a{
  text-decoration: none;
}
a:hover{
  opacity: .6;
}

a:visited{
  color:#636161;
}
h1,h2,h3,h5 {
  color: #292525;
font-family: 'Montserrat', sans-serif;
font-size: 2rem;
}
/*HEADER SECTION*/
header{
  display: inline-flex;
  position: fixed;
  top: 0;
  left:0;
  align-items: center;
  width:100%;
  height: 4.5rem;
  background: rgb(25,182,162);
  background: linear-gradient(52deg, rgba(25,182,162,1) 7%, rgba(52,126,118,1) 13%, rgba(123,240,219,1) 68%);
}
.header-logo{
  height: 3rem;
  width: auto;
  margin-left: 1.4rem;
}
.academy{
  color: #636161;
  padding-left: .3rem;
}
nav{
  display: flex;
  margin: 0px 1.4rem 0px auto;
}
nav li{
  list-style: none;
  padding-left: .8rem;
}

/*FIRST SECTION--INTRO*/
.intro-container{
  display: flex;
  align-items: center;
  background-color: lightgrey;
  width:100%;
  padding: 2.5rem;
  margin-top: 72px;
  margin-left: 0;
  background: rgb(25,182,162);
  background: linear-gradient(52deg, rgba(25,182,162,1) 0%, rgba(169,186,184,1) 4%, rgba(143,205,194,1) 68%);}

 .intro-container img{
  width:60%;
  height: auto;
}

.intro-content{
display: flex;
width:auto;
flex-direction: column;
align-items: left;
margin-left:1.5rem;
padding-left: 1.5rem;
}
.intro-content h1{
  padding-bottom: 2rem;
}
.intro-content p{
  padding-bottom: 2rem;
}

.start-button{
  order: 4;
  width: 40%;
  height: 3rem;
  background-color: #38c193;
}
.start-button a{
position: relative;
top:20%;
left: 25%;
color: black;
}
/* ******************************************* */

        /* STUDENT INFORMATION SECTION */
.info-container{
display: inline-flex;
padding: 2.5rem;
background: rgb(194,153,196);
background: linear-gradient(0deg, rgba(194,153,196,1) 0%, rgba(236,227,238,1) 100%);}
.info-content img{
  width: 100%;
  height: auto;
}

.info-content{
  width: 60%;
}
.info-container h6{
  color: #292525;
font-family: 'Montserrat', sans-serif;
}
/*INFO LINKS SECTION*/

.info-link-container{
width:40%;

}
.box{
  display: flex;
align-items: center;
}
.box img{
  width: 35%;
  height:auto;
  padding: 0rem 1rem 1rem 1rem;
}
.link-info{
padding: 5px;
}
.link-info h3{
  margin:0;
  align-items: center;
  justify-content: center;
}
.link-info p{
  margin-top: .8rem;
  align-items: center;
  justify-content: center;
}
.link-info a{
  /* margin-top: .5rem; */
}
/* ************************************************************ */
/*                      Courses Section                    */
.learning-container{
  background: rgb(25,182,162);
  background: linear-gradient(52deg, rgba(25,182,162,1) 0%, rgba(169,186,184,1) 4%, rgba(143,205,194,1) 68%);  padding: 2.5rem;
}

.learning-container h1{
  text-align: center;
}

.course-container{
  display: inline-flex;
  flex-wrap: wrap;
  margin:2rem 4rem;
}
.course{
  margin: .8rem;
  background-color: #38c193;
  width:30%;
}
.course h3{
  padding-left: 1rem;
}.course h5{
  padding-left: 1rem;
  font-size: 1rem;
}.course p{
  padding-left: 1rem;
}
.course img{
  width: 100%;
  height: auto;

}
/* *******************THESIS SECTION********************** */
                      /* VIDEO SIDE */

.thesis-container{
  display: flex;
  padding:5.3rem 2rem 2rem 2rem;
  background: rgb(194,153,196);
background: linear-gradient(0deg, rgba(194,153,196,1) 0%, rgba(236,227,238,1) 100%);
}
.thesis-container h1{
text-align: center;
position: relative;
bottom: 5.3rem;
left: 13.75rem;
}
.video-side{
  width: 60%;
  height: auto;
}
.video-side video{
  width: 100%;
  height: auto;
}
                      /* RIGHT SIDE */
.right-side{
  width:  40%;
  height:auto;
}
.exhibit-box{
  display: flex;
  margin-left: 1.5rem;
}
.exhibit-box img{
  width: 35%;
  height: 35%;
  margin:1rem;
}
/* ************************FOOTER SECTION ******************/
footer{
display: inline-flex;
align-items: center;
width: 100%;
border-top: #d4d4d4 solid 1px;
}
.copyright{
  flex-grow: 1;
  margin: 1rem 1.3rem;
}
footer a{
  margin-right: .5rem;
}
